<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>
  <body>
    <header>
      <h1 class="header-text">Book Notes</h1>
      <div class="search">
        <div class="dropdown">
          <input
            class="search-input"
            type="text"
            placeholder="Title, author"
          />
          <div id="spinner" class="hidden"></div>
          <div class="dropdown-content">
        </div>
      </div>
      <a href="/" class="header-link">Home</a>
    </header>
